@page "/itemDescription/{ItemId}"
@using Bakery.ClassLibrary.Services
@using Bakery.WebApp.Data
@using Bakery.WebApp.Services
@using Bakery.WebApp.Logic
@inherits ItemDescriptionBase
@inject IItemTypeService _itemservice
@rendermode InteractiveServer

<div>
    <img src="@($"https://kakeybakerystorage.blob.core.windows.net/itemcontainer/{ItemToDisplay.ItemName.Replace(" ", "")}")"/>
    <div class=size-container>S</div>
    <div class=size-container>M</div>
    <div class=size-container>L</div>
    <div>
        <div>@ItemToDisplay.ItmeCalories</div>
        <div>@ItemToDisplay.ItemWeight</div>
    </div>
    <div>
        <div>@ItemToDisplay.ItemDescription</div>
        <button>Add To Cart</button>
        <div>@ItemToDisplay.ItemPrice</div>
    </div>
</div>