@using Bakery.ClassLibrary.Services
@using Bakery.ClassLibrary.Logic
@using Bakery.WebApp.Authentication
@using Microsoft.AspNetCore.Components;
@using Microsoft.JSInterop
@inherits CheckoutBase
@inject IPurchaseService _purchaseservice
@inject IEmailService _emailservice
@inject IBakeryAutheticationService _authenticationservice
@inject NavigationManager NavigationManager

@if (itempurchases != null)
{
    <div class="col-md-6">
    <h4 class="mb-2">Payment Summary</h4>
    @if (itempurchases.Count() > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Topping Name</th>
                        <th>Topping Quantity</th>
                        <th>Topping Unit Price</th>
                        <th>Topping Total</th>
                        <th>Base Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in itempurchases)
                    {
                        <tr>
                            <td>
                                <img src="@($"https://kakeybakerystorage.blob.core.windows.net/itemcontainer/{item.ItempurchaseItem.Item.ItemName?.Replace(" ", "")}")"
                                    style="max-width: 100px; max-height: 100px;" />
                            </td>
                            <td>@item.ItempurchaseQuantity x @item.ItempurchaseItem.Item.ItemName</td>
                            <td>@item.ItempurchaseQuantity</td>
                            <td>
                                @foreach (var customTopping in item.ItempurchaseItem.Customitemtoppings)
                                {
                                    <div>
                                        <span>@customTopping.Topping.ToppingName</span>
                                    </div>
                                }
                            </td>
                            <td>
                                @foreach (var customTopping in item.ItempurchaseItem.Customitemtoppings)
                                {
                                    <div>
                                        <span>@customTopping.CustomItemToppingQuantity</span>
                                    </div>
                                }
                            </td>
                            <td>
                                @foreach (var customTopping in item.ItempurchaseItem.Customitemtoppings)
                                {
                                    <div>
                                        <span>@customTopping.Topping.ToppingPrice</span>
                                    </div>
                                }
                            </td>

                            <td>
                                @{
                                    decimal totalToppingsPrice = item.ItempurchaseItem.Customitemtoppings.Sum(customTopping =>
                                    customTopping.Topping.ToppingPrice * customTopping.CustomItemToppingQuantity) ?? 0;
                                }
                                @totalToppingsPrice.ToString("C")
                            </td>
                            <td>
                                @{
                                    decimal basePrice = item.ItempurchaseItem.Item.ItemPrice ?? 0;
                                }
                                @basePrice.ToString("C")
                            </td>

                            <td>
                                @{
                                    decimal totalPrice = basePrice + totalToppingsPrice;
                                }
                                @totalPrice.ToString("C")
                            </td>
                        </tr>
                    }
                    <tr>
                        <td><b>Total</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>@PaymentAmount.ToString("C")</b></td>
                    </tr>
                </tbody>
            </table>

            <h3 class="mb-5">Checkout</h3>
            <div class="row">
                <div class="col-md-6" style="display:@DisplayButtons">
                    <h4 class="mb-2">Payment Method</h4>
                    <div id="smart-button-container">
                        <input type="hidden" name="descriptionInput" id="description" @bind="PaymentDescription" />
                        <input name="amountInput" type="hidden" id="amount" @bind="PaymentAmount">
                        <div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container"></div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <p>You currently have no items in your shopping cart</p>
        }
    </div>
}

@code {
    [JSInvokable()]
    public static async Task ReceiveDataFromJS(DotNetObjectReference<CheckoutBase> objectReference)
    {
        await Task.CompletedTask;

        if (objectReference is not null)
        {
            objectReference.Value?.NavigationManager?.NavigateTo("/thankYou");
            objectReference.Value?.SendEmailAfterSuccesfulPurchase();
            objectReference.Value?.MarkCartAsCompletedPurchase();
        }
        else
        {
            throw new Exception("No object reference found");
        }
    }
}