@using Bakery.ClassLibrary.Services;
@using Bakery.WebApp.Data;
@using Bakery.ClassLibrary.Logic;
@inherits MenuContentsBase
@inject IItemTypeService _itemservice
@inject ICategoryService _categoryservice
@inject ISizeService _sizeservice

<div class="Container">
    <div class="locationContainer">
        <div class="location"></div>
        <span class="locationText">Manti, Utah</span>
    </div>

    <div class="frame">
        <div class="left-section">
            <span class="questionText">What would you like to eat?</span>
        </div>
        <div class="right-section">
            <div class="ImageBread"></div>
        </div>
    </div>

    <!----------- Control buttons ------------->
    <div class="categories">
        <div id="myBtnContainer" class="d-flex justify-content-center">
            <button class="btn btn-primary" @onclick="@(() => FilterSelection("all"))">Filter All</button>
            @foreach (var category in categories)
            {
                <button class="btn" id="cat-cont" @onclick="() => FilterSelection(category.CategoryName)">
                    <div style="background-image: url(https://kakeybakerystorage.blob.core.windows.net/itemcontainer/@(category.CategoryName.ToLower()).png);" class="imagen @category.CategoryName"></div>
                </button>
            }
        </div>
        <div class="container">
            @foreach (var item in filterItems)
            {
                <div class="filterDiv @item.CategoryId">
                    <div class="purpleFrameItem"></div>
                    <div class="ImageContainer"
                         style="background-image: url('https://cdne-bakery-a0hrc8bufjbtavaz.z01.azurefd.net/itemcontainer/@(item.ItemName?.Replace(" ", ""))')">
                    </div>
                    <span class="itemPrice">@item.ItemPrice $</span>
                    <span class="itemName">@item.ItemName</span>
                    <a href="/customizeItem/@item.ItemTypeId">
                        <div class="addContainer"></div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>